/** Variables - colors **/
:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    /* Purple */
    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;
    --color-purple-300: #23232e;

    /*White */
    ---color-white-50: #fff;

    --color-lilas-10: #C4CBC9;

    /*Green */

    --color-green-10: rgb(129, 230, 129);
    --color-green-20: rgb(79, 202, 79);
    --color-green-30: rgb(19, 163, 19);

    /*Red */

    --color-red-10: rgb(241, 93, 93);
    --color-red-20: rgb(250, 64, 64);
    --color-red-30: rgb(236, 6, 6);


    /* Blue */
    --color-blue-10: rgb(81, 195, 199);
    --color-blue-20: rgb(32, 177, 182);
    --color-blue-30: rgb(22, 155, 160);


    /* Gradient */


    --color-gradient: linear-gradient(90deg, var(--color-purple-300), var(--color-dark-100), var(--color-dark-900));
    --color-gradient-green: linear-gradient(90deg, var(--color-green-20), var(--color-green-30));
    --color-gradient-red: linear-gradient(90deg, var(--color-red-20), var(--color-red-30));
    --color-gradient-blue: linear-gradient(90deg, var(var(--color-blue-10) var(--color-blue-30)))

    }


   





    h1 {
        text-align: center;
        color: var(--color-dark-100);
        font-size: 28px;
        margin-top: 20px;
    }


    /* Form Header */
    #fff_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

    }

    #fff_header h1 {
        font-size: 40px;
        position: relative;
        margin-top: 20px;
    }

    #fff_header h1::before {
        position: absolute;
        content: '';
        width: 35%;
        height: 4px;
        background-color: var(--color-lilas-10);
        bottom: 3px;
        border-radius: 5px;

    }



    #ffff_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

    }

    #ffff_header h1 {
        font-size: 40px;
        position: relative;
        margin-top: 20px;
    }

    #ffff_header h1::before {
        position: absolute;
        content: '';
        width: 25%;
        height: 4px;
        background-color: var(--color-lilas-10);
        bottom: 3px;
        border-radius: 5px;

    }


    #fffa_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

    }

    #fffa_header h1 {
        font-size: 40px;
        position: relative;
        margin-top: 20px;
    }

    #fffa_header h1::before {
        position: absolute;
        content: '';
        width: 25%;
        height: 4px;
        background-color: var(--color-lilas-10);
        bottom: 3px;
        border-radius: 5px;

    }




    h1 {
        margin: 0;
    }

   
    .container1 {
        max-width: 1400px;
        /* Define a largura máxima do container */
        margin: 0 auto;
        /* Centraliza o container na página */
        padding: 20px;
        /* Adiciona um espaçamento interno ao container */
        background-color: #fff;
        /* Define uma cor de fundo */
        border-radius: 10px;
        /* Adiciona bordas arredondadas ao container */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Adiciona uma sombra ao container */
    }

    .container1 h2 {
        color: #007bff;
        /* Define a cor do título dentro do container */
        margin-bottom: 15px;
        /* Adiciona um espaçamento inferior ao título */
    }

    .container1 button {
        margin-top: 10px;
        /* Adiciona um espaçamento superior aos botões dentro do container */
    }

    .container1 p {
        color: #6c757d;
        /* Define a cor do texto dentro do container */
        line-height: 1.6;
        /* Define a altura da linha para melhor legibilidade */
    }

    .container1 ul {
        list-style-type: none;
        /* Remove os marcadores de lista padrão */
        padding: 0;
        /* Remove o preenchimento padrão da lista */
    }

    .container ul li {
        margin-bottom: 10px;
        /* Adiciona espaçamento inferior entre os itens da lista */
    }